.top-header{
  background-color:#523737;
  color: white;
  padding: 5px 10px 15px 10px;
  position:fixed;
  width: 100%;
  top:0;
}

.top-header .header__top,
.top-header .header__bottom{
  display:flex;
  justify-content: space-between
}

.top-header .header__top{
  margin-bottom: 15px;
  font-size: 12px;
}

.top-header .header__bottom{
  margin:0 10px;
}

.top-header .header__column{
  width:33%;
}

.top-header .header__bottom .header__column:first-child {
  color: rgba(255, 255, 255, 0.5);
}

.top-header .header__column:last-child{
  text-align: right;
}

.top-header .header__column:nth-child(2){
  text-align: center;
}

.top-header .header__number{
  color : yellow;
}
